.header {
  text-align: center;
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std';
  height: 40px;
  font-size: 30px;
  color: #9370db;
  border-bottom: 1px solid #9370db;
  padding-left: 20px;
  padding-right: 20px;
}

.contents {
  height: 40px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  display:block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

h1, h2, h3, p, a {
  font-family: "Yu Gothic";
}

h1, h3, p {
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  padding-left: 13.6px;
  padding-right: 13.6px;
  border-left: 6.4px solid #9370db;
  border-bottom: 1px solid #9370db;
}
