

.header {
  height: 40px;
  font-size: 30px;
  background-color: #9370db;
  font-family: "Courier New";
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2, h3, p {
  padding-left: 20px;
  padding-right: 20px;
}
