body {
    font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

.header {
  height: 40px;
  font-size: 30px;
  background-color: #9370db;
  font-family: "Courier New";
  padding-left: 20px;
  padding-right: 20px;
}

h1, h3, p {
  font-family: "Open Sans";
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  padding-left: 13.6px;
  padding-right: 13.6px;
  border-left: 6.4px solid #9370db;
  border-bottom: 1px solid #9370db;
}
